body {
  height: 100vh;
  margin: 0;
  background-color: rgb(226, 226, 226);
}

#authorModal {
  width: 50%;
  height: 100%;
}

#authorModal img{
  width: 70%;
}

#centerDiv {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#partitionSectionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: #316CF4;
  color: white;
}

#partitionSectionDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#partitionSectionDiv label {
  font-size: 33px;
}

input, select, button {
  padding: 10px;
  font-size: 14px;
}

#partitionSectionDiv button {
  background-color: white;
  color: #316CF4;
}

#partitionSectionDiv button:hover {
  background-color: black;
  color: #316CF4;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #316CF4;
  color: white;
  margin-top: 20px;
  padding: 20px;
  font-size: x-large;
}

#flex {
  display: flex;
}