body {
  height: 100vh;
  margin: 0;
  background-color: rgb(226, 226, 226);
}

#authorModal {
  width: 50%;
  height: 100%;
}

#authorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#authorModal img{
  width: 70%;
}

#centerDiv {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#partitionSectionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: #316CF4;
  color: white;
  border-radius: 20px;
}

#partitionSectionDiv a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#partitionSectionDiv a {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#partitionSectionDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#partitionSectionDiv label {
  font-size: 33px;
}

input, select, button {
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}

#partitionSectionDiv button {
  background-color: white;
  color: #316CF4;
}

#partitionSectionDiv button:hover {
  background-color: black;
  color: #316CF4;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #316CF4;
  color: white;
  margin-top: 20px;
  padding: 20px;
  font-size: x-large;
}

#flex {
  display: flex;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}